{% set user = app.security.getToken() ? app.security.getToken().getUser() : false %}
{% set locale = user ? false : 'en' %}
{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ block('title')|striptags }}</title>

    {% block bootstrap %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    {% endblock %}

    <link href="{{ asset('bundles/main/css/style.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/main/js/core.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jquery.toggle.buttons.js') }}"></script>
    <script src="{{ asset('bundles/main/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/main/js/bootstrap-timepicker.js') }}"></script>
    <script src="{{ asset('bundles/main/js/html5slider.js') }}"></script>
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('bundles/main/css/bootstrap-toggle-buttons.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/css/chosen.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/css/timepicker.css') }}" rel="stylesheet">
</head>
<body>
<div data-pjax-container="body">
    {{ block('body') }}
</div>
</body>
</html>
