{% from 'MainBundle::macros.html.twig' import form_actions %}

<form class="form-horizontal" action="{{ entity.id ? path('banner_update', { 'id': entity.id }) : path('banner_create') }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="_method" value="{{ entity.id ? 'PUT' : 'POST' }}"/>

    {{ form_row(form.code, { 'attr': { 'autofocus': 'autofocus', 'class': 'input-xxlarge', 'style': 'white-space: pre' }, 'label': 'Banner code' }) }}
    {{ form_row(form.category, { 'label': 'Category' }) }}
    {{ form_row(form.size, { 'label': 'Dimensions' }) }}
    {{ form_row(form.humanUrl, { 'attr': { 'class': 'input-xxlarge', 'style': 'white-space: pre' }, 'label': 'Human URL' }) }}
    {{ form_row(form.botUrl, { 'label': 'Bot URL' }) }}

    <div class="hide">
        {{ form_row(form.site) }}
    </div>

    {{ form_rest(form) }}

    {{ form_actions(entity.id, 'banner') }}
</form>