{% extends '::standard_layout.html.twig' %}

{% block title %}Activity log{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="{{ route == 'click' ? 'active' }}"><a href="{{ path('click') }}">{{ user.selectedSite }} clicks</a></li>
        {% if is_granted('ROLE_CLICK_LIST_ALL') and click_users|length %}
            <li class="{{ route == 'click_site' ? 'active' }} dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if selected_click_site is not null %}
                        Clicks on {{ selected_click_site }}
                    {% else %}
                        Select a site
                    {% endif %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for click_user in click_users %}
                        <li class="nav-header">{{ click_user }}'s sites</li>
                        {% if click_user.sites|length %}
                            {% for user_site in click_user.sites %}
                                <li><a href="{{ path('click_site', { 'id': user_site.id }) }}">{{ user_site }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="#" onclick="return false"><em>None</em></a></li>
                        {% endif %}
                        {% if not loop.last %}
                            <li class="divider"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        <li class="{{ route == 'click_own' ? 'active' }}">
            <a href="{{ path('click_own') }}">Your clicks</a>
        </li>
        {% if is_granted('ROLE_CLICK_LIST_ALL') %}
            <li class="{{ route == 'click_user' ? 'active' }} dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if selected_click_user is not null %}
                        {{ selected_click_user }}'s click
                    {% else %}
                        Select a user
                    {% endif %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for click_user in click_users %}
                        <li><a href="{{ path('click_user', { 'id': click_user.id }) }}">{{ click_user }}'s clicks</a></li>
                    {% endfor %}
                </ul>

            </li>
            <li class="{{ route == 'click_all' ? 'active' }}"><a href="{{ path('click_all') }}">All clicks</a></li>
        {% endif %}
    </ul>

    <table style="table-layout: fixed" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Banner</th>
            <th>Time</th>
            <th>Referrer</th>
            <th>IP</th>
            <th>City</th>
            <th style="width: 56px">Country</th>
            <th>User agent</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% if entities|length %}
            {% for entity in entities %}
                <tr>
                    <td><span class="label label-inverse">{{ entity.banner.group }}</span></td>
                    <td title="Campaign timezone: {{ entity.createdAt|craue_datetime(user.locale, 'medium', 'medium', entity.campaign.timezone) }}">
                        {{ entity.createdAt|craue_datetime(user.locale, 'medium', 'medium', user.timezone) }}
                        <br>
                        <span class="muted">{{ entity.createdAt|time_diff }} ago</span>
                    </td>
                    <td style="overflow: hidden; text-overflow: ellipsis;">{{ entity.referrer }}</td>
                    <td>{{ entity.ip }}</td>
                    <td>{{ entity.city }}{{ entity.region is not empty and entity.country in ['US','CA'] ? ', '~entity.region }}</td>
                    <td>{{ entity.country }}</td>
                    <td style="overflow: hidden; text-overflow: ellipsis;">
                        {{ entity.userAgent }}
                    </td>
                    <td>
                        {% set logs %}
                        <ul>
                            {% for log in entity.log %}
                                <li>{{ log }}</li>
                            {% endfor %}
                        </ul>
                        {% endset %}
                        <span style="cursor: pointer;" class="popover-me" data-html="true" data-title="Detailed click log" data-content="{{ logs }}" data-placement="left">
                        {% if entity.blocked is empty %}
                            <span class="label label-info">OK</span>
                        {% else %}
                            <span class="label label-important">{{ statuses[entity.blocked] }}</span>
                        {% endif %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No clicks captured.</td>
            </tr>
        {% endif %}
        </tbody>
        {% if paginator is defined %}
            <tfoot>
            <tr>
                <td colspan="8">
                    {% include 'MainBundle::pagination.html.twig' %}
                </td>
            </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock %}